html {
    background-image: url("./images/image-hero-mobile.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    box-sizing: border-box;
    background-color: #f0f0f0;
    font-family: 'Commissioner', sans-serif;
    font-size: 16px;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    padding: 30px 22px;
    position: relative;
}

h2, h3 {
    font-weight: 700;
}

h2 {
    font-weight: 700;
    margin-bottom: 20px;
}

h3 {
    font-size: 1rem;
    margin-bottom: 5px;
}

p {
    color: #929292;
    font-weight: 400;
    margin-bottom: 20px;
}

button {
    background-color: hsl(176, 50%, 47%);
    color: white;
    font-weight: 700;
    border: none;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 190px;
}

nav {
    flex-grow: 0;
    align-content: flex-end;
}

.btn-hamburger {
    background-color: transparent;
}

.bamboo-riser-container, .progress-container, .about-container, .bamboo-stand-container, .black-stand-container, .mohagany-container, .modal-pledge-container, .pledge-no-reward, .pledge-bamboo, .pledge-black, .pledge-mahogany {
    background-color: white;
    margin-bottom: 30px;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

.bamboo-riser-container {
    padding: 50px 20px 20px 20px;
    position: relative;
}

.mc-logo-container {
    position: absolute;
    top: -28px;
    left: 0;
    width: 100%;
}

.bamboo-riser-btn-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

.btn-back-project {
    flex-basis: 72%;
    border-radius: 50px;
}

.btn-bookmark {
    flex-basis: 25%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0%);
}

.btn-bookmark span {
    display: none;
}

.donations, .backers, .days-left {
    display: flex;
    flex-direction: column;
}

.donation-amount, .backer-amount, .days-left-amount {
    font-size: 2rem;
    font-weight: 700;
    color: black;
    margin-bottom: 5px;
}

.divider {
    background-color: #bcbbbb;
    height: 1px;
    width: 25%;
    margin: 0 auto 20px auto;
}

.progress-bar-container {
    padding: 10px 0;
}

.progress-bar, .progress-fill {
    background-color: #f1f1f1;
    width: 100%;
    height: 10px;
    border-radius: 50px;
}

.progress-fill {
    background-color: hsl(176, 50%, 47%);
    width: 75%;
}

.about-container {
    text-align: left;
}

.bamboo-stand-container, .black-stand-container, .mohagany-container, .pledge-no-reward, .pledge-bamboo, .pledge-black, .pledge-mahogany {
    border: 1px solid #929292;
    text-align: left;
}

.bamboo-stand-container {
    margin-top: 40px;
}

.mohagany-container {
    margin-bottom: 0;
}

header p {
    color: hsl(176, 50%, 47%);
    margin-bottom: 25px;
}

.amount-left-container, .pledges-left-container {
    display: flex;
    align-items: center;
}

.amount-left p, .pledges-left p {
    font-weight: 700;
    font-size: 2rem;
    color: black;
}

.amount-right, .pledges-right p {
    margin-left: 5px;
}

.btn-in-stock, .btn-out-of-stock {
    padding: 15px;
    width: 65%;
    border-radius: 50px;
}

.btn-in-stock {
    background-color: hsl(176, 50%, 47%);
}

.btn-out-of-stock {
    background-color: #929292;
}

.out-of-stock {
    opacity: 50%;
}

.selection-modal {
    display: none;
}

.nav-list-container {
    display: none;
}

.modal-pledge-complete-container {
    display: none;
}

.selection-modal, .nav-list-container, .modal-pledge-complete-container {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 25px;
    z-index: 1;
}

.selection-modal, .modal-pledge-complete-container {
    background-color: rgba(0, 0, 0, 50%);
    height: 100%;
}

.modal-pledge-complete-container {
    padding: 22px;
}

.complete-background-container {
    background-color: white;
    border-radius: 8px;
    margin-top: 120px;
    text-align: center;
    padding: 40px;
}

.complete-background-container img {
    margin-bottom: 20px;
}

.complete-background-container h2 {
    font-size: 1.2rem;
}

.complete-background-container p {
    font-size: .8rem;
}

.complete-background-container button {
    border-radius: 50px;
    background-color: hsl(176, 50%, 47%);
    padding: 18px;
    width: 43%;
}

.nav-list-container {
    padding: 22px;
}

nav ul {
    background-color: white;
    border-radius: 8px;
    margin-top: 68px;
    box-shadow: 0px 49px 89px -5px rgba(0,0,0,0.65);
    -webkit-box-shadow: 0px 49px 89px -5px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 49px 89px -5px rgba(0,0,0,0.65);
}

nav li {
    list-style: none;
    padding: 25px 20px;
    border-bottom: 1px solid #bcbbbb;
    font-weight: 500;
}

nav li:last-child {
    border: none;
}

.modal-pledge-container {
    margin-top: 80px;
    text-align: left;
    font-size: .9rem;
}

.heading-and-close-btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.heading-and-close-btn-container h2 {
    margin: 0;
}

.heading-and-close-btn-container button {
    background-color: rgba(0, 0, 0, 0);
}

.modal-pledge-container p {
    color: #929292;
}

.pledges-left p {
    font-size: 1.25rem;
    color: black;
}

.pledges-right p {
    font-size: .9rem;
}

.radio-section {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    padding-top: 15px;
}

.radio-section label {
    font-weight: 700;
}

.radio-section p {
    margin: 5px 0 0 0;
    color: hsl(176, 50%, 47%);
}

input[type="radio"] {
    appearance: none;
    scale: 160%;
    color: #bcbbbb;
    width: 0.9em;
    height: 0.9em;
    margin-right: 15px;
    font: inherit;
    border: 1px solid #bcbbbb;
    border-radius: 50%;
}

.pledge-bamboo, .pledge-black, .pledge-mahogany {
    position: relative;
}

.pledge-start-divider {
    background-color: #bcbbbb;
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0;
    margin-bottom: 20px;
}

.pledge-start-container {
    padding-top: 30px;
    padding-bottom: 15px;
    text-align: center;
}

.pledge-amount-container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

input[type="text"], .btn-continue {
    border-radius: 50px;
    border-style: none;
}

.input-container {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 15px;
}

input[type="text"] {
    appearance: none;
    background-color: rgba(0, 0, 0, 0);
    color: black;
    font-weight: 700;
    margin-left: 5px;
    width: 40%;
}

.amount-input-box {
    padding: 15px;
    border-radius: 50px;
    border: 1px solid #bcbbbb;
    width: 40%;
}

.btn-continue {
    padding: 15px;
    width: 55%;
}

#dollar {
    color: #bcbbbb;
    font-weight: 500;
    margin: 0;
}

.pledge-selected {
    border: 2px solid hsl(176, 50%, 47%);
}

@media (min-width: 576px) {
    html {
        background-image: url(./images/image-hero-desktop.jpg);
    }

    body {
        width: 80%;
        margin: 0 auto;
    }

    p {
        margin-bottom: 40px;
    }

    main {
        max-width: 625px;
        margin: 0 auto;
    }

    .page-header {
        margin-bottom: 220px;
    }

    .btn-hamburger {
        display: none;
    }

    .nav-list-container {
        display: contents;
        padding: 22px;
    }

    /* nav {
        width: 25%;
    } */
    
    nav ul {
        display: flex;
        justify-content: space-between;
        background-color: transparent;
        margin: 0;
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
        -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
        -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    }
    
    nav li {
        padding: 10px;
        border: none;
        color: white;
    }

    .bamboo-riser-btn-container {
        margin-bottom: 28px;
    }

    .btn-back-project {
        flex-basis: 35%;
    }
    
    .btn-bookmark {
        display: flex;
        align-items: center;
        flex-basis: 30%;
        background-color: #e9e8e8;
        border-radius: 50px;
    }
    
    .btn-bookmark span {
        display: inline-block;
        color: #929292;
        padding: 15px;
    }

    .stats-container {
        display: flex;
        justify-content: space-evenly;
    }

    .donations, .backers, .days-left {
        flex-basis: 29%;
        padding-right: 20px;
    }
    
    .donations, .backers {
        border-right: 1px solid #929292;
    }

    .donation-amount, .backer-amount, .days-left-amount {
        display: flex;
        margin-bottom: 5px;
    }

    .donations p, .backers p, .days-left p {
        text-align: left;
        margin-bottom: 0;
    }
    
    .progress-bar-container {
        margin-top: 30px;
    }

    .divider {
        display: none;
    }
    
    .progress-bar, .progress-fill {
        background-color: #f1f1f1;
        width: 100%;
        height: 10px;
        border-radius: 50px;
    }
    
    .progress-fill {
        background-color: hsl(176, 50%, 47%);
        width: 75%;
    }
}